span {
  font-weight: bold;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: calc(100vh - 144px);

}

.landing-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.landing-text {
  margin-top: 80px;
}

.landing-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 25vmax;
}

.landing-image-large {
  width: 20vmax;
  border-radius: 12em 12em 0 0;
  z-index: -1;
}

.landing-image-small {
  width: 4.5vmax;
  border-radius: 3em;
  position: absolute;
  left: 1vmax;
  top: 4vmax;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.376);
}

.landing-main-text {
  color: var(--main-color-dark);
  font-size: 2vmax;
  width: 14vmax
}

.landing-sub-text {
  font-size: 1vmax;
  font-weight: 300;
  width: 25vmax
}

.landing-button {
  border: none;
  border-radius: 2em;
  background: var(--main-color-dark);
  color: #fff;
  padding: 15px 27px;
  font-weight: 600;
  margin-top: 40px;
}

.landing-bottom-container {
  background: #ac6c537a;
  border-radius: 2em 2em 0 0;
  width: 100%;
  color: #fff;
  margin-bottom: 0;
}

.inputs {
  display: flex;
  justify-content: center;
}