.form-list {
  counter-increment: item;
  display: flex;
  color: #fff
}

.form-list:before {
  content: counter(item);
  /* background: var(--main-color-dark); */
  /* border: solid #fff 1px; */
  /* border-radius: 1em; */
  font-size: 2em;
  justify-content: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  /* margin: 0 20px; */
  text-align: center;
}

.ol-screen {
  padding: 0 12px
}