.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px;
  width: 85%
}


.website-logo {
  width: 15vmax
}


.title-search {
  display: flex;
  align-items: center;
}

.nav-button,
.nav-profile {
  margin-left: 50px;
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 600;
  background: none;
  border: none;
  font-size: 1em;
}



.work-with-button {
  background: var(--dark-color);
  border-radius: 2em;
  color: #fff;
  font-size: .7vmax;
  padding: 15px 27px
}

.nav-search {
  border: none;
  border-radius: 2em;
  font-size: .7vmax;
  width: 25vmax;
  height: 2vmax;
  padding: 0 0 0 50px;
}